<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">Custom Home Security and Automation</h1>
            <br>
            <p>Take a look at some of the features that will be available soon!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" style="visibility: visible; animation: bounceIn; -webkit-animation: bounceIn;"></i>
                    <h3>Videos</h3>
                    <p class="text-muted">Watch live videos feeds from anywhere!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation: bounceIn 0.1s; -webkit-animation: bounceIn 0.1s;"></i>
                    <h3>Garage</h3>
                    <p class="text-muted">Forget to shut your garage? Close it remotely.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".2s" style="visibility: visible; animation: bounceIn 0.2s; -webkit-animation: bounceIn 0.2s;"></i>
                    <h3>On/Off</h3>
                    <p class="text-muted">Turn lights and appliances on or off in your home while you are away.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s" style="visibility: visible; animation: bounceIn 0.3s; -webkit-animation: bounceIn 0.3s;"></i>
                    <h3>Original</h3>
                    <p class="text-muted">Other automation ideas around the corner!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p> Give me a call or check out my linked in account!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn" style="visibility: visible; animation: bounceIn; -webkit-animation: bounceIn;"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation: bounceIn 0.1s; -webkit-animation: bounceIn 0.1s;"></i>
                    <p><a href="https://www.linkedin.com/in/nathan-burk-24676b94?trk=hp-identity-name">LinkedIn Account</a></p>
                </div>
            </div>
        </div>
    </section>
